In [1]:
bicycle = ['trek','cannodale','redline','specialized']
print(bicycle)

['trek', 'cannodale', 'redline', 'specialized']

In [3]:
print(bicycle[0])

trek

In [4]:
print(bicycle[0].title())

Trek

In [17]:
names = ['jones','lace','grace']
for each in names:
 print(each.title(),end=' ')

Jones Lace Grace

In [30]:
names.append('Benedict')
names

['Benedict']

In [20]:
names.insert(0,"Angela")
names

['Angela', 'jones', 'lace', 'grace', 'Benedict', 'Benedict']

In [29]:
names

[]

In [32]:
names = ['jones','lace','grace']
for each in names:
 print(each.title(),end=' ')

Jones Lace Grace

In [35]:
poped_person = names.pop(0)
poped_person

'grace'

In [37]:
names

[]

In [39]:
names.append('grace')
names.append('benedict')
names.append('lace')
names.append('jones')
names

['grace', 'benedict', 'lace', 'jones', 'grace', 'benedict', 'lace', 'jones']

In [42]:
names.remove('jones')
names

['grace', 'benedict', 'lace', 'grace', 'benedict', 'lace', 'jones']

In [43]:
print("请"+names(0).title()+"来与我共进晚餐")

TypeError: 'list' object is not callable

In [45]:
names

['grace', 'benedict', 'lace', 'grace', 'benedict', 'lace', 'jones']

In [46]:
names(0)

TypeError: 'list' object is not callable

In [47]:
names[0]

'grace'

In [48]:
print("请"+names[0].title()+"来与我共进晚餐")

请Grace来与我共进晚餐

In [49]:
names.remove("grace")
names.append("angela")

In [50]:
names.insert(0,"lady")

In [52]:
names

['lady', 'benedict', 'lace', 'grace', 'benedict', 'lace', 'jones', 'angela']

In [58]:
popen_person = names.pop();
print("I'm so sorry,"+poped_person+",I can't invite u")

I'm so sorry,grace,I can't invite u

In [59]:
names

['lady', 'benedict', 'lace']

In [60]:
popen_person = names.pop();
print("I'm so sorry,"+poped_person+",I can't invite u")

I'm so sorry,grace,I can't invite u

In [62]:
names

['lady', 'benedict']

In [64]:
poped_person = names.pop();
print("I'm so sorry,"+poped_person+",I can't invite u")

I'm so sorry,lady,I can't invite u

In [65]:
names

[]

In [66]:
names.append("lady")
del names[0]

In [67]:
names

[]

In [70]:
cars = ['baoma','zoka','dazhong']
cars.sort();
print(cars)

['baoma', 'dazhong', 'zoka']

In [73]:
cars.sort(reverse=True)
cars

['zoka', 'dazhong', 'baoma']

In [75]:
print(sorted(cars))
cars

['baoma', 'dazhong', 'zoka']

['zoka', 'dazhong', 'baoma']

In [77]:
print(sorted(cars,reverse = True))

['zoka', 'dazhong', 'baoma']

In [78]:
cars

['zoka', 'dazhong', 'baoma']

In [79]:
cars.sort()

In [80]:
cars

['baoma', 'dazhong', 'zoka']

In [81]:
cars.reverse()
cars

['zoka', 'dazhong', 'baoma']

In [82]:
len(cars)

3

In [84]:
travels = ['台湾','马来西亚','波士顿','伦敦']
travels.sort()
travels

['伦敦', '台湾', '波士顿', '马来西亚']

In [85]:
print(sorted(travels))

['伦敦', '台湾', '波士顿', '马来西亚']

In [86]:
print(sorted(travels,reverse = True))

['马来西亚', '波士顿', '台湾', '伦敦']

In [88]:
print(travels.reverse())

None

In [89]:
print(travels.reverse())

None

In [92]:
travels
travels.reverse()
travels

['伦敦', '台湾', '波士顿', '马来西亚']

In [93]:
print(travels.reverse())

None

In [94]:
travels

['马来西亚', '波士顿', '台湾', '伦敦']

In [96]:
len(travels)

4

In [100]:
magicians = ['alace','brown','danny','li']
for magician in magicians:
    print("magician:"+magician+"your trick is so amazing!\n")
    print("I can't wait to see your next")
print("Thank u,everyone.That was a great magic show!")

magician:alaceyour trick is so amazing!

I can't wait to see your next
magician:brownyour trick is so amazing!

I can't wait to see your next
magician:dannyyour trick is so amazing!

I can't wait to see your next
magician:liyour trick is so amazing!

I can't wait to see your next
Thank u,everyone.That was a great magic show!

In [101]:
pizzas = ['小龙虾','黑椒柳牛','芝士']
for pizza in pizzas:
    print("I love "+pizza+" very much")
print("I really love pizza!")

I love 小龙虾very much
I love 黑椒柳牛very much
I love 芝士very much
I really love pizza!

In [102]:
for value in range(1,5):
    print(value)

1
2
3
4

In [103]:
numbers = list(range(1,6))
numbers

[1, 2, 3, 4, 5]

In [105]:
squares = []
for value in range(1,11):
    square = value**2
    squares.append(square)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [108]:
even_numbers = list(range(2,11,2))
print(even_numbers)

[2, 4, 6, 8, 10]

In [111]:
digits = [1,2,3,4,5,6,7]
min(digits)
max(digits)
sum(digits)

28

In [113]:
squares = [value**2 for value in range(1,11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [115]:
players = ['charles','martina','florence']
print(players[0:3])

['charles', 'martina', 'florence']

In [124]:
my_foods = ['pizza','falafel','carrot']
friend_foods = my_foods
friend_foods

['pizza', 'falafel', 'carrot']

In [122]:
friend_foods = my_foods[0:1]
friend_foods

['pizza']

In [126]:
dimensions = (200,50)
for dimension in dimensions:
    print(dimension)

200
50

In [3]:
for value in range(1,21):           #4-3
    print(value)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [4]:
num = list(range(1,1000001))       #4-5
max(num)
min(num)
sum(num)

500000500000

In [6]:
nums = list(range(1,21,2))       #4-6
for num in nums:
    print(num)

1
3
5
7
9
11
13
15
17
19

In [7]:
nums = list(range(3,31,3))       #4-7
for num in nums:
    print(num)

3
6
9
12
15
18
21
24
27
30

In [9]:
nums = list(range(1,11))        #4-8
for num in nums:
    print(num**3)

1
8
27
64
125
216
343
512
729
1000

In [10]:
nums = [value**3 for value in range(1,11)]    #4-9
nums

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [11]:
items = ['apple','banana','orange','watermelon']  #4-10
print('The first three items in the list are:')
print(items[0:3])

The first three items in the list are:
['apple', 'banana', 'orange']

In [12]:
print(items[1:4])

['banana', 'orange', 'watermelon']

In [13]:
print(items[-3:])

['banana', 'orange', 'watermelon']

In [14]:
my_pizzas = ['apizza','bpizza','cpizza']          #4-11
firend_pizzas = my_pizzas[:]
my_pizzas.append('dpizza')
firend_pizzas.append('epizza')
print("My favourite pizza are ")
for myp in my_pizzas:
    print(myp)
print("MyFirend favourite pizza are ")
for mfp in firend_pizzas:
    print(mfp)

My favourite pizza are
apizza
bpizza
cpizza
dpizza
MyFirend favourite pizza are
apizza
bpizza
cpizza
epizza

In [18]:
lista = ['a','b','c']                               #4-12
listb = ['1','2','3']
lists = [lista,listb]
for item in lists:
    for items in item:
        print(items)

a
b
c
1
2
3

In [22]:
foods = ("bread","cake","apple","banana","orange")   #4-13
for food in foods:
    print(food)
foods = ('apple','honey','pean','noddle','meat')
for food in foods:
    print(food)

bread
cake
apple
banana
orange
apple
honey
pean
noddle
meat